.text{
    text-align: center;
    horiz-align: center;
}
.body{
    margin: 0;
}
.container{
    margin: 0;
}

.a{
    width: 100%;
    height: 150px;
    background: coral;
    line-height: 150px;
    margin-bottom: 5px;
}

.b{
    width: 75%;
    height: 250px;
    background: crimson;
    line-height: 250px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.c{
    width: 25%;
    height: 250px;
    background: darkred;
    line-height: 250px;
}

.bc{
    display: flex;
}



@media screen and (max-width: 500px) {
    .bc{
        display: flex;
        flex-direction: column;
    }
    .b{
        width: 100%;
        height: 250px;
    }
    .c{
        width: 100%;
        height: 130px;
        line-height: 130px;
    }
}